<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="../../styleIndex.css" rel="stylesheet" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script type="text/javascript" src="./ProductCtrl.js"></script>
    <script type="text/javascript" src="../../core/array.js"></script>
    <script type="text/javascript" src="../../core/guid.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Product</title>
</head>

<body class="container-fluid">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li class="nav navbar-brand">WEBSITE PRODUCT</li>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../ToDos/ToDos.html">Todo</a></li>
            <li><a href="../Project/projectItem.html">Project</a></li>
            <li><a href="../User/Users.html">User</a></li>
            <li><a href="../Worksheet/Worksheet.html">Worksheet</a></li>
            <li><a href="../Category/Category.html">Category</a></li>
            <li><a href="../Product/Product.html">Product</a></li>
            <li><a href="../Order/Order.html">Order</a></li>
        </ul>
    </nav>

    <div class="wrapped" ng-controller="productCtrl">
        <div class="row">
            <div class="col-sm-3">
                <input type="text" placeholder="Name" class="form-control" ng-model="name" />
            </div>
            <div class="col-sm-3">
                <form>
                    <select class="form-control" ng-model="category" ng-change="search()">
                        <option selected disabled value="{{null}}">Category</option>
                        <option ng-repeat="category in categories | orderBy:'name'" value="{{category.id}}">
                            {{category.name}}
                        </option>
                    </select>
                </form>
            </div>
            <div class="col-sm-3">
                <div class="col-md-12 ml-auto">
                    quantity
                    <input type="number" name="quantity" min="1" max="100" placeholder="From" ng-model="quantityFrom" ng-change="search()">
                    <input type="number" name="quantity" min="1" max="100" placeholder="To" ng-model="quantityTo" ng-change="search()">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row"></div>
                <div class="col-md-15 ml-auto">
                    <button class="btn btn-info" ng-click="search()">
                        Search
                    </button>
                    <button class="btn btn-dark" ng-click="resetFilter()">
                        Reset
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="widht-50">E</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th class="widht-50">D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products | orderBy: ['name','category','quantity']">
                            <td aria-label="Edit">
                                <div>
                                    <div class="button">
                                        <button type="button"
                                                class="btn btn-success"
                                                data-toggle="modal"
                                                data-target="#editProductModel"
                                                ng-click="setProductForEdit(product)">
                                            E
                                        </button>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade"
                                         id="editProductModel"
                                         role="dialog"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog"
                                             role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel2">Edit Product</h5>
                                                    <button type="button"
                                                            class="close"
                                                            data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            Name
                                                            <input type="text" placeholder="Name" class="form-control" ng-model="editProduct.name" />

                                                            Category
                                                            <select class="form-control" ng-model="editProduct.category.id">
                                                                <option selected disabled>Select product</option>
                                                                <option ng-repeat="category in categories | orderBy:'name'" value="{{category.id}}">{{category.name}}</option>
                                                            </select>

                                                            Price
                                                            <input type="text" ng-model="editProduct.price" class="form-control" />

                                                            Quantity
                                                            <input type="text" ng-model="editProduct.quantity" class="form-control" />

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" ng-click="updateProduct()">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--Edit-->
                            </td>
                            <td>{{product.name}}</td>
                            <td>{{product.category.name}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.price}}</td>
                            <td><button class="btn btn-danger" ng-click="deleteProduct(product)">D</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="buttonAdd">
                <button type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#addProductModel">
                    ADD
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade"
                 id="addProductModel"
                 role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog"
                     role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">Create Product</h5>
                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-md-6">
                                    Name
                                    <input type="text" class="form-control" ng-model="addProduct.name" />
                                    Category
                                    <select class="form-control" ng-model="addProduct.category">
                                        <option selected disabled value="{{null}}">category</option>
                                        <option value="{{category.id}}" ng-repeat="category in categories ">{{category.name}}</option>
                                    </select>
                                    Price
                                    <input type="number" name="quantity" min="1" max="1000" placeholder="$$$" ng-model="addProduct.price">
                                    <br />
                                    Quantity
                                    <input type="number" name="quantity" min="1" max="1000" placeholder="№" ng-model="addProduct.quantity">

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="createProduct()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--Add-->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </div>
</body>
</html>